<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# <link rel="stylesheet" href="/style.css"> %>
    <title>Item list</title>
  </head>
  <body>
    <h1>Items</h1>

    <button class="create-button">
      <a href="/items/new" class="plain-link">New Item</a>
    </button>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th colspan="4">Action</th>
        </tr>
      </thead>    
      <tbody>
        <% items.each do |item| %>
          <tr class="food-list">
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td>
              <form action="/cart/<%= item.id %>" method="POST">
                <input type="submit" value="Add to Cart">
              </form>
            </td>
            <td><a href="/items/<%= item.id %>" class="plain-link">Show</a></td>
            <td><a href="/items/<%= item.id %>/edit" class="plain-link">Edit</a></td>
            <td>
              <form action="/items/<%= item.id %>" method="POST" style="padding: 0;">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
