<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# <link rel="stylesheet" href="/style.css"> %>
    <title>Customer list</title>
  </head>
  <body>
    <h1>Customers</h1>

    <button class="create-button">
      <a href="/customers/new" class="plain-link">New Customer</a>
    </button>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>    
      <tbody>
        <% customers.each do |customer| %>
          <tr class="food-list">
            <td><%= customer.id %></td>
            <td><%= customer.name %></td>
            <td><%= customer.phone %></td>
            <td><a href="/customers/<%= customer.id %>" class="plain-link">Show</a></td>
            <td><a href="/customers/<%= customer.id %>/edit" class="plain-link">Edit</a></td>
            <td>
              <form action="/customers/<%= customer.id %>" method="POST" style="padding: 0;">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
